# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

lib_businessmade
lib_websitemint

# Dependencies
node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Build
dist
dist-ssr
*.local
build
out
.output

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history

# Testing
coverage
.nyc_output
*.lcov

# Environment variables
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Vite
.vite

# Misc
.cache
.temp
.tmp
.turbo

icon-scraper.js
